@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: var(--secondary);
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--primary-foreground);
    --border: 214.3 31.8% 91.4%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: var(--foreground);
    --muted: var(--secondary);
    --muted-foreground: 215 20.2% 65.1%;
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--foreground);
    --border: var(--secondary);
    --input: var(--border);
    --ring: 224.3 76.3% 48%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
